.lead-section{
    margin-bottom: 7.5rem;
     padding: 269px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .lead-title{
        font-size: 5rem;
        line-height: 6rem;
        text-align: center;
        color: $white;
    }
}

@media(min-width:410px){
    .lead-section{
        .lead-title{
         font-size: 6rem;
         letter-spacing: 0.3rem;
        }
    }
}

@media(min-width:576px){
    .lead-section{
        margin-top: 80px;
        .lead-title{
            letter-spacing: 1.5rem;
            line-height: 8.4rem;
        }
    }
}
@media(min-width:768px){
    .lead-section{
        .lead-title{
            letter-spacing: 2rem;
        }
    }
}

