.service-section-two{
    margin-bottom: 37px !important;
}
.service-section{
    margin-bottom: 111px;
    .section-title{
        margin-bottom: 5.8rem;
    }
    .service-item{
        padding: 80px 50px 75px;
        .service-content{
            font-family: $lato !important;
            font-size: 3rem;
            line-height: 4rem;
            text-align: center;
        }
        .service-btn{
            border-radius: 0 !important;
            padding: 13px 36px;
            &:hover{
                color: $gray-600;
            }
        }
    }
    .service-img{
        img{
            width: 100%;
            height: 100%;
        }
    }
}

.service-single-section{
    margin-top: 80px;
    padding-top: 170px;
    padding-bottom: 181px;
    .single-title{
        margin-bottom: 3.5rem;
        font-family: $lato;
        font-weight: $font-weight-normal;
        font-size: 4.4rem;
        line-height: 5rem;
    }
    p{
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
}

@media(min-width:410px){
    .service-section{
        .service-item{
            .service-content{
                font-size: 3.6rem;
                line-height: 4.4rem;
                text-align: left;
            }
        }
    }
}

@media(min-width:1200px){
    .service-section{
        .service-item{
            padding: 130px 95px 95px;
        }
    }
}